/* header*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(253, 114, 0);
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 20;
    border-bottom: 1px solid silver;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
    align-items: center;
}
.small{
    width: 20%;
    color: white;
}
.large{
    width: 60%;
    text-align: center;
}
.boolean{
    width: 180px;
} 
.icona{
    text-align: right;
}
/*main*/
main{
    padding-top: 100px;;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
}
.content{
    position: relative;
    padding-bottom: 60px;
}
.prodotti{
    width: 380px;
    margin-right: 20px;
}
.piccolo{
    font-size: 10px;
}
.testo{
    font-size: 15px;
}
.numeri{
    color: red;
    font-size: 12px;
}
del{
    color: black;
}
.content:hover .prodotti{
    display: none;
}
.content:hover .hover-image{
    display: block;
}
.hover-image{
    display: none;
    width: 380px;
    position: relative;
    margin-right: 20px;
}
.cuore{
    background-color: white;
    color: black;
    position: absolute;
    top: 15px;
    right: 20px;
    padding: 5px 10px;
}
.col{
    color: white;
}
.red{
    background-color: red;
    padding: 5px 6px;
    position: absolute;
    bottom: 28%;
}
.green{
    background-color: green;
    padding: 5px 6px;
    position: absolute;
    bottom: 28%;
}
.right-1{
    left: 55px;
}
/*footer*/
footer{
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center
}
.flex{
    display: flex;
    align-items: center;
}
.medium{
    color: white;
    width: 50%;
}
.right{
    text-align: right;
}
p{
    margin-bottom: 5px;
}
.top{
    margin-top: 5px;
}